@using TranDucKhang_15DH110240MVC.Models
@using PagedList.Mvc
@model PagedList.PagedList<TranDucKhang_15DH110240MVC.Models.SACH>

@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@helper Truncate(string input, int length)
    {
        if (input.Length < length)
        {
            @input
        }
        else
        {
            @input.Substring(0, length)<text>...</text>
        }
}
<h2> QUẢN LÝ THÔNG TIN SÁCH</h2>

<p>
    @Html.ActionLink("THÊM MỚI", "Themmoisach")
</p>
<table class="table" border="1">
    <tr>
        <th style="width:200px">
            Tên sách
        </th>
        @*<th style="width:100px">
            Đơn vị tính
        </th>*@
        <th style="width:100px">
            Đơn giá
        </th>
        <th style="width:300px">
            Mô tả
        </th>
        <th style="width:120px">
            Hình
        </th>
        <th style="width:120px">
            Chủ đề
        </th>
        <th style="width:120px">
            NXB
        </th>
        <th style="width:100px">
            Ngày cập nhật
        </th>
        <th style="width:120px">
            Số lượng bán
        </th>
        @*<th style="width:200px">
                @Html.DisplayNameFor(model => model.First().solanxem)
            </th>
            <th style="width:200px">
                @Html.DisplayNameFor(model => model.First().moi)
            </th>*@
        <th style="width:120px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tensach)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Donvitinh)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Dongia)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Mota)*@
                @Truncate(item.Mota, 100)
            </td>
            <td>
                <img src="@Url.Content("~/Hinhsanpham/"+item.Hinhminhhoa)" style="height:100px;width:90px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNXB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaycapnhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluongban)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.solanxem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.moi)
                </td>*@
            <td>
                @Html.ActionLink("Sửa", "Suasach", new { id = item.Masach }) |
                @Html.ActionLink("Chi tiết", "Chitietsach", new { id = item.Masach }) |
                @Html.ActionLink("Xóa", "Xoasach", new { id = item.Masach })
            </td>
        </tr>
    }

</table>

<div style="position:relative; bottom:initial">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="MenuTrang">

        @Html.PagedListPager(Model, page => Url.Action("Sach", new { page = page }))
    </div>
    <style>
        .MenuTrang {
            margin: 1em;
            font-size: 100%;
        }

            .MenuTrang li {
                padding: 0.5em;
                border: 1px solid black;
                display: inline;
            }
    </style>
</div>
